h1 {
  color: plum;
  background-color: rgb(30, 31, 31);
  padding-left: 10px;
  width: 400px;
  padding-bottom: 5px;
  text-decoration: underline;
  border-radius: 10px;
}

body {
  background: peachpuff;
}

p {
  margin-left: 5px;
}
